@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #777;
}

.wrapper {
  width: 95%;
  margin: auto;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .location-title {
      font-size: 3rem;
    }
  }

  main {
    .content-wrapper {
      width: 75%;

      margin: 3rem auto;
      display: flex;
      justify-content: space-evenly;

      .image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          flex-grow: 1;
        }

        p {
          font-size: 3rem;
          text-transform: capitalize;
        }
      }

      .text-container {
        p {
          font-size: 1.5rem;
          padding: 0.5rem;
        }
      }
    }

    .card-container {
      padding: 2rem;
      display: flex;
      align-items: stretch;
      justify-content: space-around;
      gap: 1rem;

      * {
        flex: 1;
      }
    }

    .hourly-card-container {
      display: flex;
      gap: 3rem;
      overflow: scroll;
      margin: 3rem auto;

      .hour-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        p {
          font-size: 1.2rem;
          text-align: center;
          padding-bottom: 1rem;
        }

        .description-container {
          height: 5rem;
        }
      }
    }

    // .day-details-container {}
  }
}

// .location-form {
//   display: flex;
//   gap: 1rem;

//   .location-input,
//   .location-button {
//     font-size: 1.3rem;
//     color: #555;
//     padding: 0.5rem;
//   }
//   .location-button {
//     text-transform: capitalize;
//   }
// }
.location-form {
  display: flex;
  gap: 1rem;

  .location-input,
  .location-button {
    font-size: 1.3rem;
    color: #555;
    padding: 0.5rem;
    border: 1px solid #555;
    border-radius: 5px;
  }
  .location-button {
    text-transform: capitalize;
    background-color: rgba(0, 119, 255, 0.705);
    color: #fefefe;
    padding: 0.5rem 1rem;
  }
}

.weather-nav {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  p {
    font-size: 1.3rem;
    text-transform: capitalize;
    cursor: pointer;

    &:hover,
    &.active {
      text-decoration: underline;
    }
  }
}

.day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin: 10px;
  padding: 10px;
  border: 1px solid #777;
  border-radius: 10px;
  box-shadow: 0.15rem 0.25rem 0.5rem #eee;

  transition: box-shadow 150ms;

  &:active {
    box-shadow: none;
  }

  * {
    user-select: none;
  }

  .day-container {
    p {
      font-size: 1.5rem;
    }
  }

  .img-container {
    img {
      width: 100%;
    }
  }

  .temp-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 1.5rem;
    }
  }

  .description-container {
    padding: 1rem;

    p {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
