@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.location-form {
  display: flex;
  gap: 1rem;

  .location-input,
  .location-button {
    font-size: 1.3rem;
    color: #555;
    text-transform: capitalize;
    padding: 0.5rem;
  }
}

.day-card {
  outline: 1px solid grey;
  width: 300px;
  height: 500px;

  .day-container {
    
  }

  .img-container {
    img {
      width: 100%;
    }
  }

  .temp-container {}

  .description-container {}
}